NEXT_PUBLIC_API_URL=https://xhotelpro.com/api
API_URL=https://xhotelpro.com/api
NEXT_PUBLIC_SOCKET_URL=https://xhotelpro.com
NEXT_PUBLIC_SITE_URL=https://jannatbooking.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-JLRSK1M1N8
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=2176581586072732
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_PAYPAL_CLIENT_ID_LIVE=
NEXT_PUBLIC_PAYPAL_CLIENT_ID_SANDBOX=
